/* @import url("./css/bootstrap.css"); */
#container{
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
}

.movie-name{
    list-style: none;
    margin-left: 20px;
}
.movie-name:hover{
    cursor: pointer;
    background-color: aqua;
    color: black;
    border-radius: 4px;
    padding: 5px 5px;
}